:root{
    background-color: #a0ade7;
}


.container{
    width: 80%;
    height: 30vh;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-top: 30%;
    -webkit-box-shadow: 12px 10px 14px 5px rgba(0,0,0,0.85); 
    box-shadow: 12px 10px 14px 5px rgba(0,0,0,0.85);
}


.logo{
    display: flex;
    align-content: center;
    width: 30%;
    height: 5%;
    margin: auto;
    margin-top: 5%;
}
.fields{
    margin: 20px 30px;
}

.fields_title{
    display: flex;
    font-size: 18px;    
    font-weight: bold;
    color: rgb(114, 114, 114);
    padding-bottom: 5%;
}

.brand{
    color: #fc03f8;
}


.fields_textbox > input{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid silver;
    width: 100%;
    height: 40x;
    margin-bottom: 10px;
    border-radius: 3%;
}

.fields_remenber{
    margin-top: 5%;
    margin-bottom: 20%;

}

#btnlogin{
    width: 100%;
    text-align: center;
    border: none;
    background-color: #3638c9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.fields_recover{
    display: flex;
    justify-content: flex-end;
}

.fields_create{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}


.fields_recover > a , .fields_create >a {
    text-decoration: none;
    color: rgb(134, 134, 134);
    margin-bottom: 20%;
}

